/* typography */

.blue-bg,
.light-blue-bg,
.gold-bg,
.green-bg,
.orange-bg,
.red-bg,

.blue-bg a,
.light-blue-bg a,
.gold-bg a,
.green-bg a,
.orange-bg a,
.red-bg a {
	color: var(--white);
}

.blue-bg p,
.light-blue-bg p,
.gold-bg p,
.green-bg p,
.orange-bg p,
.red-bg p,

.blue-bg .label,
.light-blue-bg .label,
.gold-bg .label,
.green-bg .label,
.orange-bg .label,
.red-bg .label,
.blue-bg label,
.light-blue-bg label,
.gold-bg label,
.green-bg label,
.orange-bg label,
.red-bg label {
	color: rgba(255, 255, 255, 0.7);
}

/* theme */

.blue-bg .card {
	--card-bg: var(--blue);
	color: var(--white);
}

.blue-bg,
.blue-bg .card .blue-bg {
	--light-blue: var(--light-blue-on-dark);
	--red:        var(--red-on-dark);
}

/* BUTTONS */
.blue-bg button {
	--light-blue: var(--light-blue-on-dark);
	--red:        var(--red-on-dark);
}

.blue-bg button.inverse,
.blue-bg .card {
	/* on components with white background reset to original colors */
	--light-blue: #0582CA; /* rgb(5, 130, 202) */
	--red:        #D94432; /* rgb(216, 65, 51) */
}

/* Global */
.blue-bg button.red:hover:not([disabled]) {
	background: #D94432; /* Original Red */
}

/* Normal */
.blue-bg button:not(.light-blue):not(.gold):not(.green):not(.orange):not(.red):not(.inverse):not(.s) {
	color: var(--blue);
	background: var(--gray);
}

.blue-bg button:not(.light-blue):not(.gold):not(.green):not(.orange):not(.red):not(.inverse):not(.s):hover:not([disabled]) {
	background: #E7E7E7;
}

/* Secondary */
.blue-bg button.s:not(.light-blue):not(.gold):not(.green):not(.orange):not(.red):not(.inverse) {
	color: var(--white);
	background: rgba(255, 255, 255, 0.15);
}

.blue-bg button.s:not(.light-blue):not(.gold):not(.green):not(.orange):not(.red):not(.inverse):hover:not([disabled]) {
	background: rgba(255, 255, 255, 0.20);
}

/* Big */
.blue-bg button.big[disabled] {
	background: rgba(255, 255, 255, 0.2) !important;
	color: rgba(255, 255, 255, 0.5) !important;
}


/* inputs */

.blue-bg input,
.blue-bg input.s {
	--border-color: rgba(255, 255, 255, 0.2);
	color: var(--white);
}

.blue-bg input.vanishing,
.blue-bg input.s.vanishing {
	--border-color: rgba(255, 255, 255, 0);
}

.blue-bg input::placeholder,
.blue-bg input.s::placeholder {
	color: rgba(255, 255, 255, 0.3);
}

.blue-bg input:hover,
.blue-bg input:focus,
.blue-bg input.s:hover,
.blue-bg input.s:focus {
	--border-color: rgba(255, 255, 255, 0.3);
	color: var(--white);
}
