input, select, textarea {
	margin: 2px;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	padding: 1.25rem 2.25rem;
	border: none;
	--border-color: rgba(31, 35, 72, 0.1); /* Based on Blue */
	box-shadow: inset 0 0 0 0.25rem var(--border-color);
	color: var(--blue);
	background: transparent;
	border-radius: 0.5rem;
	outline: none;
	transition: color .2s ease, box-shadow .2s ease;
	background-clip: padding-box; /* Remove top inset box shadow in iOS */
}

select {
	-webkit-appearance: none;
}

input.s, select.s {
	padding: 0.6875rem 1.4375rem;
	box-shadow: inset 0 0 0 0.1875rem var(--border-color); /* 1.5px */
}

input.vanishing,
input.s.vanishing,
textarea.vanishing {
	/* Cannot use transparent because of iOS */
	--border-color: rgba(31, 35, 72, 0); /* Based on Blue */
}

input::placeholder,
input.s::placeholder,
textarea::placeholder {
	color: rgba(31, 35, 72, 0.5); /* Based on Blue */
}

input:hover,
input.s:hover:not(:focus),
select:hover,
select.s:hover,
textarea:hover {
	--border-color: rgba(31, 35, 72, 0.14); /* Based on Blue */
}

input:hover::placeholder,
input:focus::placeholder,
input.s:hover::placeholder,
input.s:focus::placeholder,
textarea:hover::placeholder,
textarea:focus::placeholder {
	color: rgba(5, 130, 202, 0.7); /* Based on Light Blue */
}

input:focus,
input.vanishing:focus
input.s:focus,
input.s.vanishing:focus,
select:focus,
select.s:focus,
textarea:focus,
textarea.vanishing:focus {
	--border-color: rgba(5, 130, 202, 0.2); /* Based on Light Blue */
	color: var(--light-blue);
}


/* Individal changes */
textarea {
	width: 100%;
}

input[type="number"] {
	font-family: var(--monospace);
}
