html {
	font-size: 8px;
	--size: 8px;

	font-family: var(--sans-serif);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	font-size: 2.25rem; /* 18px */
}

h1 {
	font-size: 3rem;
	line-height: 1.2;
	font-weight: bold;
	margin: 3rem 0;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.2;
	font-weight: bold;
	margin: 2.5rem 0;
}

h3 {
	font-size: 2rem;
	line-height: 1.2;
	font-weight: bold;
	margin: 2rem 0;
}

p {
	font-size: 2rem;
	line-height: 1.3125;
	color: rgba(31, 35, 72, 0.7); /* Based on Blue */
	margin: 2rem 0;
}

small,
p.s {
	font-size: 1.75rem;
	line-height: 1.2;
	font-weight: 600;
	margin: 1rem 0;
}

small,
p.s {
	color: var(--blue);
}

label, .label {
	font-size: 1.75rem;
	line-height: 0.857;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.107em;
	margin: 1rem 0;
	color: rgba(31, 35, 72, 0.7); /* Based on Blue */
}

.notice {
	font-weight: 600;
	font-size: 2rem;
}

.notice.info {
	color: var(--light-blue);
}

.notice.success {
	color: var(--green);
}

.notice.warning {
	color: var(--orange);
}

.notice.error {
	color: var(--red);
}

p a,
a {
	color: var(--light-blue);
	text-decoration: none;
	cursor: pointer;
}

a:active,
a:hover {
	text-decoration: underline;
}

li {
	margin: 0.5rem 0;
}

ul,
ol {
	font-size: 2rem;
	margin: 2rem 0;
}
